.login-row {
  height: 100vh;
}

.login-image-col {
  background: linear-gradient(
      45deg,
      rgba(44, 44, 44, 0.805),
      rgba(44, 44, 44, 0.45)
    ),
    url("../../../Assets/bus.jpg");
  background-size: cover;
  padding: 32px;
}

.login-image-col h1 {
  color: white;
  font-weight: bolder;
  font-size: 100px;
  position: relative;
}

.login-form-col {
  /* background-color: rgb(240, 236, 236); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form-div {
  padding: 16px;
}

.login-form-col h4 {
  text-align: justify;
  font-size: 28px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.75);
}

.login-form-group {
  margin-bottom: 12px;
}

.login-form-button {
  width: 100%;
  margin-bottom: 12px;
}

@media screen and (max-width: 1110px) {
  .login-image-col h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 1110px) {
  .login-image-col h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 992px) {
  .login-image-col {
    display: none;
  }
}
