.input-div {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
}

.input-div label {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
}

.input-div input {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin-right: 4px;
}
